@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
.seccion1{
    background-image: url(/images/Fondo.png);
    height:80vh;
}
header{
    background: #404b51dc;
    padding:30px;
   
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenido a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
}
.titulo{
    color: white;
}
b{
    color:#4BCAFF;
}


.seccion1 p{
    background: #404b51dc;
    margin: 10px;
    width: 30%;
    text-align: center;
    color: #D8E1E6;
    padding: 8px;
    font-size: 18px;

}

.imagen{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height:100%
}

.seccion2{
    background: #4BCAFF;
    display: flex;
    flex-direction: row;
    padding: 90px 180px;
}
.stic h2 {
    color: white;
    margin: 15px 0;
}
.stic p{
    color: white;
}
.stic{
    padding: 15px;
    width: 25%;
}
.puntos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.punImagen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 250px;
    grid-gap:1rem ;
}
.puntos{
    color: #404b51dc;
  margin-top: 50px;
}
.pun a{
    text-decoration: none;
    color: #404b51dc;
    margin-left: 25px;
}
.seccion4{
    background:#516067 ;
    display: flex;
    flex-direction: row;
    padding: 50px 150px 50px 250px;
}
.lado1 h2{
    color: white;
}
.lado1 p{
    color: white;
    margin: 20px 0;
}
.lado2 img{
    margin-left: 10px;
    
}
.visita{
    background: #516067;
    padding: 15px;
    width: 130px;
    border:2px solid #1f2324;
}
.seccion5{
    background: #4BCAFF;
    padding:50px 250px ;
}
.sec5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-bottom: 25px;
}
.secp{
    color: white;
    width: 65%;
}
.seccion6{
    background-image: url(/images/bg_whoIs.png);
    height: 35vh;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 180px 50px 250px;
    background-position: center center;
}
.sec6{
    color:white;
    margin-right:10px;
}
.sec6 h2{
    margin-bottom: 25px;
}
.secc6 p{
    margin: 50px 0;
    color: white;
}
.seccion7{
    padding: 50px 250px;
    color: #516067;
}
.seccion7 p{
    margin: 15px;
}
.nombre{
    color: #31c0fe;
}
.seccion8{
    background-image: url(/images/bg_contact.png);
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 50px 180px 50px 250px;
    color: white;
}
.caja2{
    display: flex;
    flex-direction: row;
}
.seccion8 input{
    background: none;
    border: 1px solid white;
}
.ca2{
    width: 50%;
}
.caj2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.caj2 input{
    width: 80%;
    height: 8vh;
    margin-bottom: 20px;
}
.caja3 input{
    width: 100%;
    height: 30vh;
}
.caja3 button{
    background: #31c0fe;
    color: white;
    width: 25%;
    padding: 10px;
    border: none;
    margin-top: 20px;
}
.caja1 h2{
    margin-bottom: 20px;
}
footer{
    background: #516067;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-around;
}
.t{
    background: #516067 ;
    width: 300px;
    height: 2px;
}

.linear{
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color:white;
    margin-left: 10px;
    
}
@media screen and (max-width:460px){
    nav {
        display: flex;
        flex-direction: column;
    }
    .contenido a{
        font-size:15px;
        margin:4px
        
    }
    .titulo{

        text-align: center;
        margin-bottom: 8px;
    }
    .seccion1{
        background-position: center;
        background-size: cover;
        height: 70vh;
    }
    .imagen{
        height:auto;
        margin-top: 70px;
    }
    .imagen p{
        font-size:12px;
        width:fit-content
    }
    .seccion2{
        padding:0;
        display:flex;
        flex-direction:column;
        align-items: center;
        padding:20px
    }
    .stic{
        width: 80%;
        text-align: center;
    }
    .punImagen{
        padding:20px;
        display:flex;
        flex-direction:column
    }
    .puntos{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .pun{
        font-size:12px;
        margin-top: 15px;
    }
    .seccion4{
        display:flex;
        flex-direction:column;
        padding:20px;
        font-size: 12px;
    }
    .lado2 img{
        width: 100%;
        margin:0;
        padding:10px 0;
    }
    .seccion5{
        padding:20px
    }
    .seccion5 p{
        font-size:12px
    }
    .seccion8{
        padding: 0;
    }
    .seccion6{
        display:flex;
        flex-direction:column;
        padding:20px;
        font-size: 15px;
        height:auto;
    } 
    .seccion7{
        padding:20px;
        font-size: 15px;
        height:auto
    }
    .caja2{
        display:flex;
        flex-direction:column;
        width:90%;
        align-items:center;

    }
    .seccion8{
        align-items: center;
        height:auto;
    }
    .seccion8 button{
        margin-bottom:10px
    }
    .caj2{
        width:100%;
        
    }
    .ca2{
        width: 100%;
    }
    .caja3{
        width:90%;
        margin-top: 10px;
    }
    .caja1{
        margin-top: 10px;
    }
    footer{
        font-size: 12px;
    }

}
